body {
    flex: 1;
    background: #692020;
    margin: 0;
}

.nav-bar {
    margin: 20px 0 80px 0;
    float: left;
}

.row-news {
    margin-bottom: 50px;
}

.row-event-categories {
    margin-bottom: 30px;
}

table {
    opacity: 0.9;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    text-align: center;
}

a, th, td, h1 {
    color: white;
}

.col-img-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logout-btn{
    color: white;
    border-color: ivory;
    margin: 0 20px 20px 20px;
    float: right;

    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.logout-btn:hover{
    color: #692020;
    background-color: ivory;
}


.fa-sign-out {
    margin-left: 8px;
}

.add-news-btn{
    color: white;
    border-color: ivory;
    margin: 0 20px 20px 20px;
}

.add-news-btn:hover{
    color: #692020;
    background-color: ivory;
}

.edit-news-btn{
    color: #ffffff;
    border-color: #165cac;
    margin: 0 20px 20px 20px;
}

.edit-news-btn:hover{
    color: #ffffff;
    background-color: #165cac;
}

.delete-news-btn{
    color: #ffffff;
    border-color: #b11e1e;
    margin: 0 20px 20px 20px;
}

.delete-news-btn:hover{
    color: #ffffff;
    background-color: #b11e1e;
}
.body-news{
    white-space: normal;
    padding-right: 10px;
    height: 5em;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow: auto;
}

.table-news {
    max-height: 550px;
    overflow-y: scroll;
}

.table-event {
    max-height: 450px;
    overflow-y: scroll;
}

.table-categories {
    max-height: 450px;
    overflow-y: scroll;
}

.btn-details {
    color: ivory;
    border-color: ivory;
    text-decoration: none;
}

.btn-details:hover {
    color: #b11e1e;
    background-color: ivory;
    text-decoration: none;
}


footer {
    background: #2e0808;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 30px 10px 30px;
}

.footer-div {
    margin-left: 50px;
}

footer p {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #e4f2ed
}

footer a {
   margin-left: 5px
}

footer a img {
    width: 30px;
}

::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2e0808;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0c0202;
  }


/* FORMULÁRIOS */

.form-style {
    max-width: 800px;
    padding: 10px;
    margin: auto auto;
    border-radius: 20px;
}

.st-input, .st-select {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    flex: 1;
    background: transparent;
    border: 0;
    color: #232129;
    overflow:hidden
}

.st-input:focus {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    flex: 1;
    background: transparent;
    border: 0;
    color: #232129;
  }

  .st-select select:focus {
    background: #f4ede8;
    border-radius: 10px;
    border: 2px solid #4b1414;
    padding: 8px;
    font-size: 15px;
  }

.st-con-input {
    background: #f4ede8;
    border-radius: 10px;
    padding: 8px;
    width: 100%;

    border: 3px solid #4b1414;
    color: #4b1414;

    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

label {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 18px;
}

.form-title {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
    padding: 1px;
    margin-bottom: 40px;
}

.bottuns {
    margin-top: 25px;
}

.addIcon {
    color: #f4ede8;
    border: 4px solid #4b1414;
    border-radius: 50%;
}

.st-button{
    background: transparent;
    border-radius: 50%;
    border: transparent;
}


/*SHOW*/
.p-show {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: ivory
}

.img-show{
    width: 500px;
}


/*DELETE*/
.p-delete {
    color: ivory;
    font-size: 25px;
}

.btn-index {
    color: white;
    border-color: ivory;
    margin-left: 20px;
}

.btn-index:hover{
    color: #692020;
    background-color: ivory;
}

/*LIVE*/
.live-config {
    width: 700px;
}

.st-con-input {
    background-color: #414141;
}

.live-input {
    color: #f4ede8;
}

.live-row {
    margin-bottom: 30px;
}

/*ERRORS*/
#alert {
    position: absolute;
    display: block;
    width: 360px;
    margin: 80px 30px 30px 30px;
    margin-left: 75%;
}
