/* Estilização principal */

.retreat { text-indent:4em }

body {
    flex: 1;
    background: #0F1811;
    margin: 0;
}


/* Conteúdo do BODY */
.content-body {
    flex: 1;

    margin-bottom: 20px;
}


/* Logo principal */
.content-logo-bar {
    display: flex;
    flex-direction: row;
    max-height: 150px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.content-logo-bar img {
    max-height: 150px;
    display: block;

    margin-left: 14%;
    margin-right: 14%;

    margin-top: 25px;
}


/* Primeiro container */
.content-first-block {
   flex: 1;
   margin-bottom: 30px;
}


.col-one-first-block h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 47px;

    margin-bottom: 30px;

    color: #F4FFF1;
}

.cfi-first h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 25px;
    text-align: center;

    word-wrap: break-word;

    color: #F4FFF1;

}

.cfi-first p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 25px;

    text-justify: inter-word;
    text-align: justify;

    word-wrap: break-word;
    color: #DBFBD3;

}

/* Container da imagem da noticia */
.cfi-second {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 30px;
}

.cfi-second img {
    margin-top: 20%;
    max-width: 100%;
}

.player-frame {
    padding: 30px 30px 5px 30px;
}

/* Container de busca de categorias */
.content-search-block {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 40px 100px 40px;
    background: #2D7948;
}

@media (max-width: 1300px) {
    .content-search-block, .read-about {
        display: none;
    }
  }

@media (max-width: 1715px) {
    .col-3 {
        max-width: 50%;
        width: 50%;
        float: left;
    }
    .col-2 {
        display: none;
        float: right;
        width: 0;
    }
    .col-1 {
        max-width: 50%;
        width: 50%;
        float: left;
    }
}

@media (max-width: 1401px) {
    .content-search-block {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 300px 100px 300px;
        background: #2D7948;
    }

    .col-1, .col-3 {
        max-width: 100%;
        width: 100%;
    }

    .player-frame {
        margin: 5px
    }

    .player-frame iframe {
        height: 350px;
    }
}

@media (max-width: 990px) {
    #facebook-main, #youtube-main{
        display: none;
    }
    .btn-toggle{
        display: block;
    }
    .cfi-second img {
        margin-top: 1%;
        max-width: 80%;
    }
}

@media (max-width: 600px) {
    .player-frame iframe {
        height: 200px;
    }
}

.col-1 {
    min-width: 39%;
    float: left;

}

.col-2 {
    min-width: 22%;
    max-width: 22%;
    float: left;
}

.col-3 {
    min-width: 39%;
    float: right;
}

.poligonal {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 180px solid transparent;
    border-right: 180px solid transparent;
    border-top: 130px solid #DBFBD3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.poligonal img{
    width: 80px;
    margin-top: -135px;
}

.ul-left, .ul-right {
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.col-li-left {
    float: left;
    margin-left: 50px;
    margin-right: 10px;
}

.col-li-right{
    float: left;
    margin-right: 10px;
    margin-left: 50px;
}

.ul-left li a, .ul-right li a {
    text-decoration: none;
    font-size: 36px;
    color: #F4FFF1;
    padding: 5px;
}

.ul-left li a:hover, .ul-right li a:hover{
    background-color: #173d25;
    border-radius: 10px;
}

/* Container sobre */
.content-about-block {
    margin: 0 8% 100px 8%;
    display: block;
    background: #2F3832;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.about-title {
    background-color: #DBFBD3;
    display: inline-block;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    padding: 15px;
    margin: 0;
    margin-bottom: 16px;

    font-size: 34px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #2D7948;
}

.col-about-left p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 25px;
    text-align: justify;

    word-wrap: break-word;

    text-justify: inter-word;
    text-align: justify;
    color: #DBFBD3;
}

.col-about-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.col-about-right figure {
    padding: 20px;

}

.col-about-right figure img {
    width: 100%;
    padding-bottom: 5px;
}

.col-about-right figure {
    text-align: center;
    color: #DBFBD3;
    font-family: 'Roboto', sans-serif;
}




/* Container apoiadores */
.content-supporters-block {
    min-height: 300px;
    margin: 0 15% 100px 15%;
    display: block;
    background: #2F3832;

    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
}


/* Footer */

footer {
    background: #2D7948;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 30px 10px 30px;
}

.footer-div {
    margin-left: 50px;
}

@media (max-width: 1095px) {
    .footer-div {
        margin-left: 0;
    }
    .a-sec {
        float: right;
    }
}

footer p {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #DBFBD3
}

footer a {
   margin-left: 5px
}

footer a img {
    width: 30px;
}

