/* Estilização principal */

.retreat {
    text-indent:4em
}

body {
    flex: 1;
    background: #0F1811;
    margin: 0;
}


/* Conteúdo do BODY */
.content-body {
    flex: 1;

    margin-bottom: 20px;
}

/* Logo principal */
.content-logo-bar {
    display: flex;
    flex-direction: row;
    max-height: 150px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.content-logo-bar img {
    max-height: 150px;

}

.content-logo-bar a {
    display: block;

    margin-left: 14%;
    margin-right: 14%;

    margin-top: 25px;
}

/* Primeiro container */
.content-first-block {
   flex: 1;
   margin-bottom: 30px;

}

.w3-display-container{
    padding: 20px;
    margin: 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mySlides {
    display:none;
    background-color: #147050;
    padding: 5%;
    border-radius: 15px;
    margin: 0 10px 0 10px;
    box-shadow: inset 0 0 1em #88fcd8;
}

.event-title {
    padding-top: 2%;
    font-family: 'Roboto', sans-serif;
    color: #e4f2ed;
    font-size: 38px;
}

.event-title-frame {
    font-family: 'Roboto', sans-serif;
    color: #e4f2ed;
    font-size: 30px;
}

.event-hour-frame {
    font-family: 'Roboto', sans-serif;
    color: #e4f2ed;
    font-size: 25px;
}

.event-description-frame {
    font-family: 'Roboto', sans-serif;
    color: #e4f2ed;
    font-size: 22px;
}

.w3-button {
    background-color: #147050;
    border-radius: 5px;
    box-shadow: inset 0 0 1em #88fcd8;
}

.container-event-title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.row-schedule{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;

}

.col-two-first-block {
    justify-content: center;
    align-items: center;
    text-align: center;

}

.player-frame {
    padding: 30px 30px 5px 30px;

}

.player-frame iframe {
    box-shadow: inset 0 0 1em rgb(85, 187, 121), 0 0 1em #88fcd8;
    width: 80%;
    height: 400px;
}


/* Container de busca de categorias */
.content-search-block {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 40px 100px 40px;
    background: #147050;
    box-shadow: inset 0 0 1em #88fcd8;
}

.col-1 {
    min-width: 39%;
    float: left;

}

.col-2 {
    min-width: 22%;
    max-width: 22%;
    float: left;
}

.col-3 {
    min-width: 39%;
    float: right;
}

.poligonal {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 180px solid transparent;
    border-right: 180px solid transparent;
    border-top: 130px solid #e4f2ed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.poligonal img{
    width: 80px;
    margin-top: -135px;
}

.ul-left, .ul-right {
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.col-li-left {
    float: left;
    margin-left: 50px;
    margin-right: 10px;
}

.col-li-right{
    float: left;
    margin-right: 10px;
    margin-left: 50px;
}

.ul-left li a, .ul-right li a {
    text-decoration: none;
    font-size: 36px;
    color: #F4FFF1;
    padding: 5px;
}

.ul-left li a:hover, .ul-right li a:hover{
    background-color: #173d25;
    border-radius: 10px;
}

#religionId, #cultureId, #societyId, #recreationId, #worldId, #lastNewsId {
    margin: 0 8% 100px 8%;
    padding-left: 2%;
    padding-right: 2%;
    display: block;
    background: #2e3636;
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
}

.col-news-category{
    margin: 40px
}

.col-news-category h1{
    font-family: 'Roboto', sans-serif;
    color: #e4f2ed
}

/* Container sobre */
.content-about-block {
    margin: 0 10% 100px 10%;
    display: block;
    background: #2e3636;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;

    box-shadow: inset 0 0 1em rgb(69, 80, 72), 0 0 1em rgb(120, 138, 125);
}

.about-title {
    background-color: #e4f2ed;
    display: inline-block;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    padding: 15px;
    margin: 0;
    margin-bottom: 16px;

    font-size: 34px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #1b7a71;
}

.col-about-left p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 25px;
    text-align: justify;

    word-wrap: break-word;

    text-justify: inter-word;
    text-align: justify;
    color: #e4f2ed;
}

.col-about-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.col-about-right figure {
    padding: 20px;
}

.col-about-right figure img {
    width: 100%;
    padding-bottom: 5px;
}

.col-about-right figure {
    text-align: center;
    color: #e4f2ed;
    font-family: 'Roboto', sans-serif;
}

.col-about-right figure img {
    box-shadow: inset 0 0 1em rgb(9, 10, 10), 0 0 1em rgb(17, 19, 17);
}

.sponsor {
    padding-bottom: 15px;
}

/* Container apoiadores */
.content-sponsor-block {
    min-height: 300px;
    margin: 0 15% 100px 15%;
    padding: 0 30px 30px 30px;
    display: block;
    background: #2e3636;

    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;

    box-shadow: inset 0 0 1em rgb(69, 80, 72), 0 0 1em rgb(120, 138, 125);
}


/* Footer */

footer {
    background: #147050;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 30px 10px 30px;
}

.footer-div {
    margin-left: 50px;
}

footer p {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #e4f2ed
}

footer a {
   margin-left: 5px
}

footer a img {
    width: 30px;
}

.sponsor-logo {
    padding: 20px;
    margin: 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #e0e5fa;
    border-bottom: 1px solid #e0e5fa;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.5);
    height: 260px;
}
.news-flag {
    margin-bottom: 30px;
    background: rgba(70, 158, 111, 0.1);
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.title-news{
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    color: #e4f2ed;
    font-weight: bold;
    background-color: rgba(167, 231, 204, 0.1);
    border-radius: 30px;

}

.body-news{
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    color: #e4f2ed;
    white-space: normal;
    padding-right: 10px;
    height: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow: auto;
}

.author-news{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #e4f2ed
}

.source-news{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #e4f2ed
}


.cfi-first h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 25px;
    text-align: center;

    word-wrap: break-word;

    color: #F4FFF1;

}

.cfi-first p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 25px;
    text-align: justify;

    word-wrap: break-word;

    color: #e4f2ed;

}

.cfi-second {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
}

.cfi-second img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.content-toggle {
    margin: 0 20% 100px 20%;
    padding: 0 30px 30px 30px;
    display: block;
    background: #147050;

    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;

    box-shadow: inset 0 0 1em rgb(86, 173, 117), 0 0 1em rgb(86, 173, 117);

    text-align: center;

    display: none;

}

.dropdown {
    position: relative;
    display: inline-block;

  }

  .dropdown-content {
    display: none;
    position: relative;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }

.content-option{
    padding: 5px;

    background-color: #2e3636;
    color: white;
    font-size: 25px;

}

  .dropdown:hover .dropdown-content {
    display: block;
  }

@media (max-width: 1715px) {
    .col-3 {
        max-width: 50%;
        width: 50%;
        float: left;
    }
    .col-2 {
        display: none;
        float: right;
        width: 0;
    }
    .col-1 {
        max-width: 50%;
        width: 50%;
        float: left;
    }
}

@media (max-width: 1401px) {
    .content-search-block {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 300px 100px 300px;
        background: #147050;
    }

    .col-1, .col-3 {
        max-width: 100%;
        width: 100%;
    }

    .player-frame {
        margin: 5px
    }

    .player-frame iframe {
        height: 350px;
    }
}

@media (max-width: 1300px) {
    .content-search-block, .read-about {
        display: none;
    }
    .content-toggle {
        display: block;
    }
  }

  @media (max-width: 1095px) {
    .footer-div {
        margin-left: 0;
    }
    .a-sec {
        float: right;
    }
}


@media (max-width: 990px) {
    #facebook-main, #youtube-main{
        display: none;
    }
    .cfi-second img {
        margin-top: 1%;
        max-width: 80%;
    }
}

@media (max-width: 600px) {
    .player-frame iframe {
        height: 200px;
    }
}

::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #147050;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(28, 83, 47);
  }
